a.d-block {
    &:hover {
        p {
            color: $base-black;
        }
        .alink {
            color: $secondary-color !important;
        }
    }
}

.alink {
    color: $blue-color;
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        color: darken($color: $blue-color, $amount: 0.5);
        text-decoration: underline;
    }
}

.full-wb-ab {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.min-height-400 {
    min-height: 400px;
}

.space-working-enviroment {
    padding-bottom: 260px;
}

.inline-img-text {
    display: inline-block;
    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.link-primary {
    color: $primary-color;
    text-decoration: underline;
    &:hover,
    &:active,
    &:active {
        text-decoration: underline;
    }
}

.position-banner {
    position: absolute !important;
    margin-top: 60px;
    @include media-breakpoint-down(md) {
        position: static !important;
        margin-top: 0;
    }
}

.w-mobile-100 {
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.w-lg-auto {
    @include media-breakpoint-up(lg) {
        width: auto;
    }
}

.flex-mobile-wrap {
    @include media-breakpoint-down(md) {
        flex-wrap: wrap;
    }
}

.w-mobile-50 {
    @include media-breakpoint-down(md) {
        width: 50%;
    }
}

.d-mobile-flex {
    @include media-breakpoint-down(md) {
        @include flexbox();
    }
}

.contact-list {
    ul {
        list-style: none;
        padding: 0;
        > li {
            margin-bottom: 15px;
        }
    }
}
.grecaptcha-badge{
    box-shadow: none !important;
    opacity: 0 !important;
}
.box-gray {
    padding: 48px 30px;
    background-color: $bg1;
    &.custom1 {
        padding: 32px 30px;
    }
}

.box-gray-1 {
    padding: 15px;
    background-color: #f3f3f3;
}

.border-top-4-primary {
    border-top: 4px solid $primary-color;
}

.content-bg-green {
    padding: 30px;
    background-color: $green-color;
    height: 100%;
    h2 {
        color: white;
        margin-bottom: 20px;
    }
    p {
        color: white;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.box-blue-content {
    padding: 40px 30px;
    color: white;
    background-color: $blue-color;
    width: 300px;
    h2 {
        margin-bottom: 20px;
    }
    p {
        font-weight: 300;
    }
    h2,
    p {
        color: white;
    }
    @include media-breakpoint-down(md) {
        width: 100%;
    }
}

.reverse-mobile-collum {
    @include media-breakpoint-down(md) {
        display: flex;
        flex-flow: column-reverse;
    }
}

.list-phone-support {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
        margin-bottom: 15px;
        img {
            margin-right: 10px;
        }
    }
}

.line-footer-xs {
    @include media-breakpoint-down(md) {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 1px;
            background-color: #0e3494;
            bottom: -25px;
            left: 25px;
        }
    }
}

.border-bottom-gray {
    border-bottom: 1px solid #DBDBDB;
}


.icon-gotop {
    cursor: pointer;
    z-index: 1003;
    position: fixed;
    bottom: 46px;
    right: 0;
    -webkit-animation: move_down .6s linear infinite alternate;
    -moz-animation: move_down .6s linear infinite alternate;
    -o-animation: move_down .6s linear infinite alternate;
    animation: move_down .6s linear infinite alternate;
    display: none;
    @include media-breakpoint-down(md) {
        right: auto;
        left: 0;
        bottom: 0;    
    }
}

.col-lg-20-percent {
    @include media-breakpoint-up(lg) {

        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;

        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.position-media-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: inline-flex;
    > a {
        display: inline-block;
        @include media-breakpoint-down(md) {
            width: 48px;
        }
    }
}

.content-format {
    a {
        color: $primary-color;
    }
}

.wrapper-list-ar-text {
    border-top: 1px solid #c1c1c1;
    margin-top: 40px;
    padding-top: 20px;
}

.list-ar-text {
    padding: 0 20px;
}

.line-height-h1 {
    line-height: 1.3;
}

.box-title-img {
    background-color: rgba($color: $blue-color, $alpha: 0.8);
    padding: 16px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    @include media-breakpoint-up(lg) {
        font-weight: normal;
    }
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.position-close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
}

.box-border {
    padding: 32px;
    border: 1px solid #F0F0F0;
    text-align: center;
    min-height: 135px;
    @include flexboxCenter();
}


.hover-img {
    &::before {
        content: "";
        background-color: rgba($color: #000000, $alpha: 0.2);
        transition: $transition;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    }
    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

.p-20 {
    padding: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-10 {
    margin-top: 10px;
}

.position-content-center {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;

}
.v-unset{
    vertical-align: unset;
}
@include media-breakpoint-down(md) {
    .w-xs-auto {
        width: auto!important;
    }
}