@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");



body {
  font-size: $font-size;
  font-family: $font-family;
  color: $text-primary;
  line-height: 1.6;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 200px 0 0 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 0 0 10px;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  color: $primary-color;
  @include media-breakpoint-down(md) {
    font-size: 28px;
  }
}

h2 {
  font-size: 24px;
  color: $secondary-color;
  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}

h3 {
  font-size: 18px;
  color: $secondary-color;
}

h4 {
  font-size: 16px;
}

h1 a,
h2 a,
h3 a {
  color: inherit;
  transition: $transition-link;
}

p {
  font-weight: normal;
  margin: 0 0 10px;
}

a {
  color: inherit;
}

a:hover,
a:active,
a:focus,
a:hover h3,
a:active h3,
a:focus h3 {
  color: $primary-color !important;
  text-decoration: none;
}

button:focus {
  outline: none;
}

img {
  max-width: 100%;
}

// Inline turns list items into inline-block
.list-inline {
  list-style: none;
  padding-left: 0;
  margin-left: -5px;

  > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }
}

// dropdown
.dropdown-menu {
  > li {
    > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      color: $text-primary;
      white-space: nowrap;
    }
    &.show-all {
      > a {
        font-weight: 500;
        color: $text-primary;
        text-align: center;
        padding: 10px 0;
      }
    }
  }
  &.dropdown-style3 {
    width: 100%;
    margin-top: 0;
    background: $white-color;
    border-radius: 0;
    padding: 20px 30px;
    transform: translate3d(0, 0, 0) !important;
    top: 100% !important;
    border-top: 3px solid $blue-color;
    box-shadow: 0px 5px 10px 0px $box-shadow-menu-color;
    li.title-navigation {
      width: 100%;
      display: block;
      padding-left: 10px;
      &:before {
        display: none;
      }
      &:hover {
        background: transparent;
      }
      label,
      a {
        font-size: $font-size;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border-header;
        display: block;
        color: $text-primary;
        font-weight: 500;
        text-transform: uppercase;
        padding-left: 0;
        &:after {
          content: "";
          background: url("../images/icon-right-arrow.svg");
          width: 8px;
          height: 12px;
          display: inline-block;
          margin-left: 8px;
        }
        &:hover {
          color: $primary-color;
          &:after {
            background: url("../images/icon-right-arrow-main.svg");
          }
        }
      }
    }
    li {
      display: inline-flex;
      width: calc(24% - 13px);
      padding-left: 20px;
      position: relative;
      margin-right: 20px;
    }
    > li {
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: $blue-color;
        display: inline-block;
        vertical-align: 4px;
        margin-right: 10px;
        position: absolute;
        left: 10px;
        top: 19px;
        @include media-breakpoint-down(md) {
          top: calc(50% - 4px);
        }
      }
      > a {
        font-size: 16px;
        font-weight: normal;
        color: $text-primary;
        display: inline-block;
        padding: 10px 10px;
        white-space: normal;
        &:hover {
          outline: none;
        }
      }
      &:hover {
        background: $background-grey-color;
      }
    }
  }
}

// close dropdown

.group-social {
  a {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.flex-md-center {
  @include media-breakpoint-up(lg) {
    @include flexboxCenter;
  }
}

@include media-breakpoint-up(xl) {
  .container {
    max-width: 1170px;
  }
}

.full {
  width: 100%;
}

.background-grey {
  background-color: $background-grey-color;
}

.title-mark {
  padding-bottom: 10px;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
    width: 60px;
    height: 3px;
    background-color: $secondary-color;
    @include media-breakpoint-down(md) {
      bottom: 0px;
    }
  }
  &.left {
    text-align: left;
    &:before {
      left: 0;
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      &:before {
        left: calc(50% - 30px);
      }
    }
  }
  @include media-breakpoint-down(md) {
    &.text-32 {
      font-size: 22px !important;  
    }
    font-size: 22px !important;
    margin-bottom: 25px;
  }
}

.right-arrow {
  position: absolute;
  width: 22px;
  height: 65px;
  top: 35px;
  right: -22px;
  overflow: hidden;
  &:before {
    content: " ";
    position: absolute;
    top: 15px;
    left: -15px;
    width: 27px;
    height: 27px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  }
}

.box-shadow {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.80;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-90 {
  opacity: 0.90;
}

.opacity-95 {
  opacity: 0.95;
}
