// global
$primary-color: #d13138;
$secondary-color: #3e507c;
$text-primary: #464646;

$base-black: #666;
$white-color: #fff;
$blue-color: #0e3494;
$green-color: #85b915;
$grey-color: #888888;
$light-grey: #DBDBDB; 
$caret-color: #999999;
$border-header: #dddddd;
$border-footer-address: #424d68;
$border-footer-social: #c3c3c3;
$background-hover-menu: #f0f0f0;
$background-grey-color: #f0f0f0;
$box-shadow-menu-color: rgba(0, 0, 0, 0.2);
$radius: 6px;
$font-family: Roboto;
$font-size: 16px;
$font-size-sm: $font-size - 2px;
$font-size-xs: $font-size -4px;
$font-size-lg: $font-size + 2px;

// background
$background-body: #f3f3f3;
$bg1: #E3E3E3;
$background-header-modal: #f6f6f6;

//button
$base-button-color: #424d68;

//transition
$transition: all 0.2s ease-in-out;
$transition-link: all 0.283s;

// shadow
$shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);

