.bg-gray {
    background-color: $background-body !important;
}

.bg-recruitment-process {
    background: url(../images/bg-recruitment-process.png) $background-body no-repeat right bottom;
    @include media-breakpoint-down(md) {
        padding-bottom: 90px;
    }
}

.bg-gray1 {
    background-color: $bg1;
}

.list-bg {
    background-color: $background-body;
    padding: 20px 40px;
    @include media-breakpoint-down(md) {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
}

.list-bg-small {
    background-color: $background-body;
    padding: 20px;
}

.bg {
    -webkit-background-size: cover;
    background-size: cover;
}

.bg-blue {
    background-color: $blue-color;
}
.bg-green {
    background-color: $green-color;
}
.bg-secondary {
    background-color: $secondary-color;
}
.bg-primary1 {
    background-color: $primary-color;
}

.bg-cover {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        pointer-events: none;
        background: url("../images/bg-cover-top-left.png") no-repeat left top;

        @include media-breakpoint-down(md) {
            background: url("../images/bg-cover-top-left-xs.png") no-repeat left top;
            background-size: 120px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;
        background: url("../images/bg-cover-bottom-right.png") no-repeat right bottom;
        @include media-breakpoint-down(md) {
            background-size: 80px;
        }
    }
}

.bg-gray2 {
    background-color: $background-grey-color;
}
.bg-light-grey {
    background-color: $light-grey;
}