.padding-block {
    padding: 40px 0;
    @include media-breakpoint-down(lg) {
        padding: 30px 0;
    }
}

.padding-block-no-banner {
    padding-top: 15px;
    @include media-breakpoint-down(md){ 
        padding: 0!important;
    }
}

.p-lr-15 {
    padding: 0 15px;
}
.pb-50 {
    padding-bottom: 50px;
}

@include media-breakpoint-down(sm) {
    .mb-xs-90 {
        margin-bottom: 90px;
    }
    .p-xs-lr-15 {
        padding: 0 15px;
    }
}

.mt-lg-40 {
    @include media-breakpoint-up(lg) {
        margin-top: 40px;
    }
}

.mr-10 {
    margin-right: 10px;
}

.pt-mobile-10 {
    @include media-breakpoint-down(md) {
        padding-top: 10px!important;
    }
}

.mt-40 {
    margin-top: 40px;
}
.mb-20 {
    margin-bottom: 20px;
}

@include media-breakpoint-down(md) {
    .p-30-xs {
        padding: 30px;
    }
}

