.text-white {
    color: $white-color !important;
    &:hover{
        color: $white-color !important;
    }
}

.text-danger {
    color: $primary-color !important;
}

.text-success {
    color: $success !important;
}

.text-main {
    color: $primary-color !important;
}

.text-blue{
    color: $secondary-color !important;
}

.text-blue-1 {
    color: $blue-color!important;
}

.text-grey{
    color:$base-black !important;
}

.text-48 {
    font-size: 48px !important;
}

.text-32 {
    font-size: 32px !important;
}

.text-30 {
    font-size: 30px !important;
}

.text-28 {
    font-size: 28px !important;
}

.text-24 {
    font-size: 24px !important;
}
.text-18-medium {
    font-size: 18px;
    font-weight: 500;
}

.text-normal {
    font-weight: normal!important;
}

.text-18 {
    font-size: $font-size-lg !important;
}

.text-16 {
    font-size: $font-size !important;
}

.text-14 {
    font-size: $font-size-sm !important;
}

.text-16-medium {
    font-size: $font-size !important;
    font-weight: 500;
}

.text-medium {
    font-weight: 500 !important;
}

.text-black {
    color: $text-primary !important;
}

.text-12 {
    font-size: $font-size-xs !important;
}

.text-underline{
    text-decoration: underline;
}

.text-gray-date {
    font-size: $font-size-sm;
    color: #ACABAB;
}

.text-news-title {
    font-size: $font-size-lg;
    font-size: 14px;
    color: #acabab;
}

.text-border-left {
    font-size: 18px;
    color: $primary-color;
    margin-bottom: 10px;
    position: relative;
    @include media-breakpoint-down(md) {
        padding-left: 20px;
        margin-bottom: 20px;
    }
    &:before {
        content: "";
        position: absolute;
        left: -40px;
        z-index: 1;
        top: -12px;
        width: 4px;
        height: 40px;
        background-color: $primary-color;
        @include media-breakpoint-down(md) {
            left: 0;
        }
    }
}

.text-black-18-medium {
    font-size: $font-size-lg;
    color: $text-primary;
    font-weight: 500;
}
.text-new-title {
    font-size: 18px;
    color: $text-primary;
    font-weight: 500;
    @include media-breakpoint-down(md) {
        font-size: 16px;
    }
}

@include media-breakpoint-down(md){
    .text-32{
        font-size:28px !important;
    }
    .text-xs-left {
        text-align: left !important;
    }
    .text-mobile-16 {
        font-size: 16px;
    }
}

.text-quotes {
    position: relative;
    font-size: 20px;
    font-style: italic;
    display: inline-block;
    @include media-breakpoint-up(lg) {
        font-size: 28px
    }
    > img {
        position: absolute;
        left: -40px;
        top: -10px;
        z-index: 1;
        @include media-breakpoint-down(md) {
            left: -23px;
            top: 0px;
        }
    }
}

.text-lg-nowrap {
    @include media-breakpoint-up(lg) {
        white-space: nowrap;
    }
}

.text-gray {
    color: #999;
}

.text-black-1 {
    color: #2e2e2e;
}