.block-search {
    padding: 25px 40px;
    box-shadow: 0px 2px 7px rgba($color: #000000, $alpha: 0.3);
    background-size: cover;
    @include media-breakpoint-down(md) {
        background-size: cover;
    }
}

.block-search-small {
    padding: 30px 20px;
    background-size: cover;
}

