/*begin header*/

header {
  background: $white-color;
  z-index: 50;

  .header-top {
    border-bottom: 1px solid $border-header;
    height: 36px;

    .list-inline {
      float: right;
      margin-bottom: 0;
      line-height: 36px;
      font-size: 14px;
      @include flexbox();
      > li {
        display: inline-block;
        padding: 0;

        &.no-hover {
          span {
            color: $base-black;
          }

          &:hover {
            background-color: transparent;
          }
        }
      }

      .select2-container {
        &--default {
          .select2-selection {
            outline: none;
            margin-top: -1px;

            &--single {
              .select2-selection__rendered {
                margin-top: -1px;
                font-size: 14px;

                &:hover {
                  background: $primary-color;
                }

                .img-flag {
                  margin-right: 3px;
                }
              }
            }
          }

          &.select2-container--open {
            .select2-selection--single {
              .select2-selection__rendered {
                background: $primary-color;
              }
            }
          }
        }
      }
    }

    .multi-lang {
      .dropdown-toggle {
        &:after {
          border-top: 8px solid $caret-color;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
          vertical-align: 1px;
        }
      }
      .btn-flag {
        height: 36px;
        border: none;
        padding: 0 15px 0 10px;
        background: 0 0;
        line-height: 36px;
        display: inline-block;
        color: $text-primary;

        span {
          padding-left: 0;
        }
      }

      > .dropdown-menu {
        min-width: 100px;
        width: 100px;
        padding: 20px 0;
        margin-top: 5px;

        li {
          a {
            padding: 8px 15px;
            font-size: 13px;
            line-height: initial;
            display: block;
          }
        }
      }
    }

    .image-box {
      &.small-box {
        padding: 10px;
        border-bottom: 1px solid $border-header;
        margin-bottom: 0;
      }

      a {
        font-size: 15px;
      }
    }
    .header-hotline {
      vertical-align: sub;
    }
  }

  .header-navigation {
    background: $white-color;
    z-index: 100;
    box-shadow: 0 2px 3px 0px $box-shadow-menu-color;
  }

  &.scroll-fixed {
    .header-navigation {
      position: fixed;
      top: 0;
      width: 100%;
    }
    .header-top {
      display: none;
    }
  }

  .navigation-wrap {
    position: relative;
    width: 100%;
    height: 61px;

    a.logo {
      padding: 9px 13px 9px 0;
      float: left;
    }

    a.setup {
      line-height: 70px;
      background: $primary-color;
      color: $white-color;
      text-align: center;
      font-weight: 500;
      display: block;
      float: right;
      padding: 0 8px;
      font-size: 14px;
    }
    .dropdown {
      position: initial;

      .btn-default {
        font-weight: 500;
        border: none;
        height: 60px;
        padding: 0 10px;
        border-radius: 0;
        outline: none;
        font-size: 14px;
        position: relative;
        color: $text-primary;
        @include media-breakpoint-down(md) {
          font-size: 12px;
        }
        &:hover {
          background-color: $background-hover-menu;
        }
      }

      &.search-form {
        input {
          height: 44px;
          font-size: 16px;
          color: $text-primary;
          border: 1px solid $primary-color;
          &:focus{
            box-shadow:0 0 0 0.2rem rgba(209, 49, 56, 0.2);
          }
        }
      }
    }

    .menu-bar {
      float: right;
      margin-bottom: 0;
      > li {
        padding: 0;
        > a {
          font-weight: 500;
          border: none;
          height: 60px;
          padding: 0 10px;
          border-radius: 0;
          outline: none;
          font-size: $font-size;
          position: relative;
          color: $text-primary;
          display: flex;
          align-items: center;
          box-shadow: none;
          text-transform: capitalize;
          @include media-breakpoint-down(md) {
            font-size: $font-size-xs;
          }
          &:hover {
            background-color: $background-hover-menu;
          }
        }
        &.active {
          >a,
          .dropdown > button {
            color:  $primary-color;
          }
          color: $primary-color;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -1px;
            background-color: $primary-color;
            height: 4px;
            width: 100%;
            z-index: 1;
            @include media-breakpoint-down(md) {
              display: none;
            }
          }
          &.has-dropdown {
            position: initial;
            &::after {
              opacity: 0;
              visibility: hidden;
            }
            .dropdown > button {
              position: relative;
              &::before {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0px;
                background-color: $primary-color;
                height: 4px;
                width: 100%;
                z-index: 1;
                @include media-breakpoint-down(md) {
                  display: none;
                }
              }
            }
          }
        }
      }

      .btn-default {
        font-size: $font-size;
        box-shadow: none;
        text-transform: capitalize;
        &.dropdown-toggle {
          &:after {
            border-top: 8px solid $caret-color;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            vertical-align: 1px;
            margin-left: 6px;
          }
        }
      }
      .show {
        .btn-default {
          &.dropdown-toggle {
            background-color: $background-grey-color;
            &:after {
              transform: rotate(180deg);
            }
          }
          &::before {
            display: none;
          }
        }
      }

      @keyframes opacities {
        0% {
          opacity: 0;
        }

        50% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }
      }

      .change-opacity img {
        animation: opacities 1s ease infinite;
      }
    }

    .search-form {
      .dropdown-menu {
        &.dropdown-style3 {
          li {
            width: 100%;
            margin-bottom: 0;
          }
        }
      }
      &.show {
        .btn-search {
          background-color: $background-grey-color;
        }
      }
    }
  }
}

// form option-btn
.option-btn {
  label {
    display: block;
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .dropdown {
    outline: none;
  }

  .btn {
    color: $caret-color;
    background: transparent;
    padding: 0 6px;
    font-weight: 500;
    border: none;
    border-radius: 0;
    outline: 0;
    font-size: 15px;
    min-width: initial;
    line-height: 40px;
  }

  .dropdown-menu {
    width: 345px;
    overflow-y: auto;
    right: 0;
    left: auto;
    background: $white-color;
    border-radius: 5px;
    padding: 0;
    margin: 10px 0 0;
    z-index: 3;
    box-shadow: 0 2px 8px $box-shadow-menu-color;
    border: none;

    &.dropdown-style2 {
      width: 180px;

      > li {
        margin-bottom: 0;

        > a {
          padding: 10px;

          img {
            margin-right: 5px;
            vertical-align: -6px;
            width: auto;
          }
        }
      }
    }
  }

  img {
    width: 22px;
    vertical-align: -2px;
    margin-right: 3px;
  }

  span {
    padding-left: 24px;
    font-weight: normal;
  }

  .dropdown-style1 {
    label {
      font-size: 16px;
      line-height: 46px;
      border-bottom: 1px solid $border-header;
    }
  }
}

// close form option-btn
@media screen and (max-width: 1199px) {
  header {
    .navigation-wrap {
      a.setup {
        font-size: 12px;
        padding: 0 5px;
      }

      .search-form {
        .btn-search {
          width: 55px;
        }
      }

      .menu-bar {
        .dropdown-menu {
          &.dropdown-style3 {
            > li {
              > a {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
    .header-navigation {
      .container {
        width: 100%;
        max-width: 100%;
        padding-right: 0;
      }
      .menu-bar {
        .btn-default,
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  header {
    position: relative;
    .dropdown-backdrop {
      display: none;
    }

    .header-top {
      position: absolute;
      top: 10px;
      right: 80px;
      width: 60px;
      z-index: 1;
      border-bottom: none;
      height: 40px;

      .ul-top {
        float: none;
        @include flexInline();
        position: absolute;
        right: 20px;
        left: auto;
        width: 100%;
        font-size: 16px;

        .user-top {
          position: absolute;
          right: 5px;
        }

        .dropdown {
          position: initial;
        }

        .no-hover {
          display: none;
        }
      }

      .multi-lang {
        > .dropdown-menu {
          left: 10px;
          right: auto;
        }
      }
    }

    &.scroll-fixed {
      .search-form {
        display: none;
      }
      .header-top {
        display: block;
        position: fixed;
        top: 10px;
        z-index: 3;
      }
    }

    .header-navigation {
      border-bottom: 1px solid $border-header;
      height: 56px;

      .container {
        width: 100%;
        padding-right: 0;
      }

      .navigation-wrap {
        height: 56px;

        .menu-bar {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          width: 100vw;
          z-index: 10;
          height: 100vh;
          overflow: auto;

          .menu {
            position: relative;
            font-size: 16px;
            height: 60px;
            line-height: 60px;
            padding: 0 15px;
            font-weight: 500;
            color: $white;
            background: $blue-color;
            .menu-cancel {
              position: absolute;
              top: 0;
              right: 0;
              width: 60px;
              height: 60px;
              background: url(../images/icon-cancel-white.svg) no-repeat center;
            }
          }

          .search-mobile {
            padding: 20px 15px;
            border-bottom: 12px solid $background-body;
            background-color: $white;
          }

          .list-social-menu {
            padding: 20px 15px 40px;
            .group-social {
              > a {
                display: inline-flex;
                width: auto;
                border-bottom: none;
                padding: 0;
              }
            }
          }

          &.mobile-open {
            display: block;
            z-index: 1;
            overflow: scroll;
            max-height: calc(100vh - 100px);
          }

          li {
            display: block;
            background-color: $white;
          }

          > li {
            > a {
              font-size: 18px;
              width: 100%;
              text-align: left;
              background: $white;
              border-bottom: 1px solid $border-header;
              height: 60px;
              line-height: 60px;
              padding: 0 15px;
              &.dropdown-toggle {
                &:after {
                  right: 15px;
                  position: absolute;
                  top: calc(50% - 4px);
                }
              }
            }
          }

          .btn-default {
            font-size: 18px;
            width: 100%;
            text-align: left;
            background: $white;
            border-bottom: 1px solid $border-header;
            height: 60px;
            line-height: 60px;
            padding: 0 15px;
            &.dropdown-toggle {
              &:after {
                right: 15px;
                position: absolute;
                top: calc(50% - 4px);
              }
            }
          }

          > li {
            > a {
              font-size: 18px;
              width: 100%;
              text-align: left;
              border-bottom: 1px solid $border-header;
              height: 60px;
              line-height: 60px;
              background: $white;
              padding: 0 15px;
            }
          }

          .dropdown-menu {
            &.dropdown-style3 {
              position: initial !important;
              padding: 0;
              border-radius: 0;
              margin-top: -1px;
              box-shadow: none;
              overflow: auto;
              border-top: none;

              li {
                background-color: #f8f8f8;
                border-bottom: 1px solid #e6e6e6;
                width: 100%;
                padding-left: 15px;
                &:last-child {
                  border-bottom: none;
                }
                &:before {
                  margin-right: 0;
                }
                &.title-navigation {
                  display: none;
                }
              }

              > li {
                > a {
                  font-size: 18px;
                  font-weight: 400;
                  padding: 16px 10px;
                }
              }
            }
          }
        }

        a.logo {
          padding: 8px 10px 8px 0;

          img {
            height: 39px;
            width: auto;
          }
        }

        a.icon-bar {
          width: 56px;
          height: 55px;
          background: url(../images/icon-bar.svg) no-repeat center;
          float: right;
        }

        .mobile-open {
          & ~ .icon-bar {
            background: $background-grey-color url(../images/icon-bar-cancel.png) no-repeat center;
          }
        }

        .search-form {
          display: none;

          .btn-search {
            height: 40px;
            width: 50px;
          }
        }

        a.setup {
          line-height: 60px;
        }
      }

      span.caret {
        float: right;
        border-top: 6px dashed;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        margin: 27px 15px 27px;
      }
      .search-form {
        ul.dropdown-menu {
          left: auto;
          width: calc(100vw - 30px);
          right: 15px;
          position: absolute;
          background: 0 0;
          border: none;
          padding: 0;
        }
        input {
          width: 100%;
          border-radius: 5px;
          margin-top: 10px;
        }

        .btn {
          display: none;
        }
      }
    }
  }
  .select2-container {
    &--open {
      .select2-dropdown {
        left: 0;
        width: calc(100vw - 150px) !important;
        margin-top: 0;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}

/*end header*/
