.bincg-signature {
    .bincg-signature-name {
        padding-bottom: 8px;
        color: $blue-color;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid $blue-color;
    }
}