.line-step {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: url(../images/icon-step-line.png) no-repeat;
        height: 30px;
        left: calc(16.67% - 11px);
        right: calc(16.67% - 11px);
        z-index: 1;
        top: 120px;
        background-size: contain;
        @include media-breakpoint-down(md) {
            visibility: hidden;
            opacity: 0;
            display: none;

        }
    }
    @include media-breakpoint-down(md) {
        &::after {
            content: '';
            background: url(../images/icon-step-line-xs.png) no-repeat;
            position: absolute;
            left: -30px;
            width: 25px;
            top: 0;
            bottom: 0;
            margin-top: 30px;
        }
    }
    @include media-breakpoint-down(md) {
        margin-left: 40px;
        > div {
            height: 130px;
        }
    }
}

.step-img {
    height: 100px;
    margin-bottom: 70px;
    @include flexInline();
    align-items: center;
    justify-content: center;
}

.step-item {
    @include media-breakpoint-up(lg) {
        flex-flow: column;
        align-items: center;
        > .step-item-img {
            height: 100px;
            margin-bottom: 70px;
            @include flexInline();
            align-items: center;
            justify-content: center;
        }
    }
    .media-body {
        @include media-breakpoint-down(md) {
            text-align: left;
            padding-left: 20px;
        }
    }
}
