$spacing-bot: 80px;

@mixin lineVerticleBefore() {
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        border-right: 3px dashed $black;
        height: calc(50%);
        @include media-breakpoint-down(md) {
            border-right: 2px dashed $black;
        }
    }
}


@mixin lineVerticle() {
    &::after {
        content: "";
        position: absolute;
        top: calc(50% + -10px);
        bottom: 0;
        border-right: 3px dashed $black;
        @include media-breakpoint-down(md) {
            top: calc(50% + 10px);
            border-right: 2px dashed $black;
        }
    }
}

@mixin date() {
    .date {
        font-weight: 500;
        font-size: 32px;
        margin-bottom: 10px;
        @include media-breakpoint-down(md) {
            font-size: 20px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            top: 17px;
            @include media-breakpoint-down(md) {
                width: 12px;
                height: 12px;
                top: 14px;
            }
        }
    }
}

@mixin position_date() {
    position: absolute;
    top: calc(50% - #{$spacing-bot/2});
    transform: translateY(-50%);
    width: 100%;
    @include media-breakpoint-down(md) {
        width: auto;
        height: 44px;
        top: 50%;
    }
}

@mixin rightDate() {
    .date {
        right: calc(100% + 20px);
        @include position_date();
        text-align: right;
        &::before {
            right: -31px;
        }
    }

}

@mixin decorArrow($color) {
    border: 3px solid $color;
    &:after {
        background-color: $color;
    }
    &:before {
        border-bottom: 12px solid $color;
    }
}

@mixin contentCircle() {
    &:after {
        content: '';
        position: absolute;
        width: 10px;
        top: 5%;
        height: 90%;
        z-index: 1;
        @include media-breakpoint-down(md) {
            width: 6px;
        }
    }
}

@mixin contentLine() {
    &:before {
        content: '';
        position: absolute;
        top: calc(50% - 7px);
        transform-origin: center;
        border-right: 12px solid transparent;
    }
}

%content_timeline {
    .content {
        @include decorArrow($black);
        background-color: $background-body;
        padding: 20px 30px;
        color: $text-primary;
        position: relative;
        @include contentCircle();
        @include media-breakpoint-down(md) {
            padding: 15px 10px;
        }
        &:after {
            right: -18px;
            @include media-breakpoint-down(md) {
                left: -14px;
                right: auto;
            }
        }

        @include contentLine();
        &:before {
            right: -24px;
            transform: rotate(-135deg);
            @include media-breakpoint-down(md) {
                right: auto;
                left: -20px;
                transform: rotate(45deg);
            }
        }
        &.blue-box {
            @include decorArrow($blue-color);
        }
        &.green-box {
            @include decorArrow($green-color);
        }
        &.red-box {
            @include decorArrow($red);
        }
    }
}

@mixin right{
    padding: 0px 20px $spacing-bot 40px;
    @include media-breakpoint-down(md) {
        padding: 20px 20px 20px 40px;
    }
    @include rightDate();
    &::before {
        left: 0px;
        top: 4px;
        @include media-breakpoint-down(md) {
            left: 4px;
        }
    }
    &::after {
        left: -1px;
        @include media-breakpoint-down(md) {
            left: 4px;
        }
    }
    .content {
        text-align: left;
        @include contentCircle();
        &:after {
            left: -18px;
            @include media-breakpoint-down(md) {
                left: -14px;
            }
        }

        @include contentLine();
        &:before {
            left: -23px;
            right: auto;
            transform: rotate(45deg);
            @include media-breakpoint-down(md) {
                left: -20px;
            }
        }
    }
}

.container-timeline {
    padding: 0px 20px $spacing-bot 20px;
    position: relative;
    width: 50%;
    @extend %content_timeline;

    @include date();

    @include media-breakpoint-down(md) {
        width: calc(100% - 83px);
        padding-bottom: 30px;
        margin-left: 83px;

        &.right {
            left: auto;
        }
        top: calc(50% - 10px);
    }

    @include lineVerticleBefore();

    @include lineVerticle();

    &.left {
        padding: 0px 40px $spacing-bot 20px;
        @include media-breakpoint-down(md) {
            padding: 20px 20px 20px 40px;
        }
        .date {
            text-align: left;
            left: calc(100% + 20px);
            @include position_date();
            @include media-breakpoint-down(md) {
                width: auto;
            }
            &::before {
                left: -29px;
                @include media-breakpoint-down(md) {
                    right: -31px;
                    left: auto;
                    top: calc(50%);
                    transform: translateY(-8px);
                }
            }
        }
        &::after {
            right: -3px;
            @include media-breakpoint-down(md) {
                right: auto;
                left: 4px;
            }
        }
        .content {
            text-align: right;
            @include media-breakpoint-down(md) {
                text-align: left;
            }
        }
        @include media-breakpoint-down(md) {
            .date {

                right: calc(100% + 20px);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: auto;
                text-align: right;
                left: auto;
                height: auto;
                margin: 0;
            }
        }

    }

    &.right {
        @include right();
        @include media-breakpoint-up(lg) {
            left: 50%;
        }
    }
}

.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0;
}

// color
@mixin colorTimeLine($color) {
    color: $color;
    .date {
        &::before {
            background-color: $color;
        }
    }
    &::after {
        border-color: $color;
    }
}

.date-blue {
    @include colorTimeLine($blue-color);
}

.date-green {
    @include colorTimeLine($green-color);
}

.date-red {
    @include colorTimeLine($primary-color);
}

.before-line-blue {
    &:before {
        border-color: $blue-color;
        z-index: 2;
        height: calc(50% - 65px);
        @include media-breakpoint-down(md) {
            height: calc(50% - 20px);
        }
    }
}

.before-line-green {
    &:before {
        border-color: $green-color;
        z-index: 2;
        height: calc(50% - 65px);
        @include media-breakpoint-down(md) {
            height: calc(50% - 20px);
        }
    }
}

.before-line-red {
    &:before {
        border-color: $red;
        z-index: 2;
        height: calc(50% - 65px);
        @include media-breakpoint-down(md) {
            height: calc(50% - 20px);
        }
    }
}

.line-before-none {
    &:before {
        display: none;
    }
}

.line-after-none {
    &:after {
        display: none;
    }
}

.left {
    &.before-line-blue, &.before-line-green, &.before-line-red {
        &:before {
            right: -2px;
            top: 4px;
            @include media-breakpoint-down(md) {
                right: auto;
                left: 4px;
            }
        }
    }
}
