.breadcrumbs {
  position: absolute;
  width: 100%;
  z-index: 2;
  > .container {
    display: flex;
  }
  a {
    color: $white;
    padding: 10px 24px 10px 0;
    line-height: 28px;
    display: inline-block;
    background: url(../images/icon-breadcrumb-right.png) no-repeat calc(100% - 8px) 20px;
    text-transform: capitalize;
    &:last-child {
      background: 0 0;
      font-weight: 600;
      flex:1;
      padding-right:0;
    }
    &:hover {
      color: $primary-color;
    }
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
  &.black {
    a {
      color: $text-primary;
      background: url(../images/icon-breadcrumb-right-black.svg) no-repeat calc(100% - 8px) 20px;
      &:last-child {
        background: 0 0;
      }
    }
  }
}
