.special-hover-card {
  display: block;
  background-color: $background-grey-color;
  height: calc(100% - 30px);
  padding-bottom: 30px;
  transition: 1s;
  &.style-1 {
    border-bottom: 3px solid $blue-color;
    &:hover {
      background-color: rgba($color: $blue-color, $alpha: 0.8);
      transition: 1s;
      .image {
        .hover-title {
          opacity: 1;
          background-color: rgba($color: $blue-color, $alpha: 0.8);
        }
      }
      .content {
        img {
          display: none;
          &.hover-image {
            display: inline-block;
          }
        }
        h3 {
          color: $white!important;
        }
      }
    }
  }
  &.style-3 {
    border-bottom: 3px solid $primary-color;
    &:hover {
      background-color: rgba($color: $primary-color, $alpha: 0.8);
      transition: 1s;
      .image {
        .hover-title {
          opacity: 1;
          background-color: rgba($color: $primary-color, $alpha: 0.8);
        }
      }
      .content {
        img {
          display: none;
          &.hover-image {
            display: inline-block;
          }
        }
        h3 {
          color: $white!important;
        }
      }
    }
  }
  &.style-2 {
    border-bottom: 3px solid $green-color;
    &:hover {
      background-color: rgba($color: $green-color, $alpha: 0.8);
      transition: 1s;
      .image {
        .hover-title {
          opacity: 1;
          background-color: rgba($color: $green-color, $alpha: 0.8);
        }
      }
      .content {
        img {
          display: none;
          &.hover-image {
            display: inline-block;
          }
        }
        h3 {
          color: $white!important;
        }
      }
    }
  }
  .image {
    position: relative;
    > img {
      width: 100%;
    }
    .hover-title {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      text-align: center;
      color: $white;
      opacity: 0;
      transition: 1s;
      p {
        margin-bottom: 20px;
      }
    }
  }
  .content {
    padding: 30px 30px 20px;
    text-align: center;
    img {
      margin-bottom: 15px;
      &.hover-image {
        display: none;
      }
    }
    h3 {
      text-transform: uppercase;
    }
    .content-img {
      height: 56px;
      @include flexInline();
      align-content: center;
      justify-content: center;
      flex-flow: column;
    }
  }
}

.icon-card {
  text-align: center;
  @include media-breakpoint-down(sm) {
    margin-bottom: 40px;
  }
  .image {
    margin-bottom: 20px;
  }
  .content {
    h3 {
      font-size: 24px;
    }
  }
}

.box-shadow-form {
  padding: 40px 50px;
  //box-shadow: 0 4px 10px $box-shadow-menu-color;
  box-shadow: 0 9px 12px rgba(29, 30, 31, 0.14), 0 3px 16px rgba(29, 30, 31, 0.12), 0 5px 6px rgba(29, 30, 31, 0.2);
  max-width: 860px;
  margin: 0 auto;
  background-color: $white;
  position: relative;
  @include media-breakpoint-down(sm){
    padding: 30px 15px;
  }
  .form-group {
    textarea {
      min-height: 135px;
      resize: none;
    }
  }
  .btn-main {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
}

.tab-over {
  margin-top: -300px;
  @include media-breakpoint-down(sm) {
    margin-top: -900px;
  }
}

.group-address {
  margin-bottom: 30px;
  > h3 {
    color: $primary-color;
    margin-bottom: 20px;
    img {
      vertical-align: text-top;
    }
  }
  .item {
    display: flex;
    .image {
      flex: 0 0 16px;
      margin-right: 10px;
    }
    &:last-child {
      .content {
        position: relative;
        @include media-breakpoint-down(sm) {
          padding-bottom: 10px;
        }
        &:before {
          content: "";
          position: absolute;
          width: 100px;
          height: 1px;
          background-color: $blue-color;
          bottom: 0;
        }
      }
    }
  }
  &.no-line {
    margin-bottom: 0;
    .item:last-child .content:before {
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

.group-address.no-line .item:last-child .content {
  @include media-breakpoint-down(sm) {
    padding-bottom: 0px;
  }
}

.simple-card {
  text-align: center;
  .image {
    margin-bottom: 55px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: 48px;
      img {
        max-width: 48px;
      }
    }
  }
  span {
    display: block;
    font-size: 32px;
    color: $white;
    line-height: 34px;
    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }
}

.media {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.nopadding-card {
  padding: 30px;
  border-right: 1px solid $border-header;
  height: 100%;
  @include media-breakpoint-down(sm) {
    padding: 30px 20px;
    border-right: none;
    border-bottom: 1px solid $border-header;
  }
  h3 {
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.nopadding-card-blue {
  text-align: center;
  padding: 40px 25px;
  background-color: $blue-color;
  height: 100%;
  color: $white-color;
  img {
    margin-bottom: 20px;
    max-width: 60px;
    &.height1 {
      height: 62px;
      @include media-breakpoint-down(md) {
        height: auto;
      }
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    color: $white;
    text-align: center;
    display: block;
  }
  .list {
    margin-left: 0;
    padding-left: 10px;
    margin-top: 30px;
    text-align: left;
  }
}

.box-icon {
  margin-bottom: 20px;
  .item {
    display: flex;
    .image {
      flex: 0 0 16px;
      margin-right: 10px;
    }
    .content {
      strong {
        display: block;
        margin-bottom: 10px;
      }
      span {
        white-space: nowrap;
        margin-bottom: 10px;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
}

.box-abs {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.left {
    justify-content: flex-start;
    padding-left: 40px;
  }
}

.box-abs-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.card-list-style {
  display: block;
  margin-bottom: 40px;
  img {
    margin-bottom: 15px;
    width: 100%;
  }
  .title {
    font-size: 16px;
    color: $text-primary;
    &:before {
      content: "";
      width: 8px;
      height: 8px;
      display: inline-block;
      margin-right: 10px;
      background-color: $primary-color;
      vertical-align: 2px;
    }
  }
}

.box-shadow-horizontal {
  padding: 20px;
  display: flex;
  background-color: $white;
  box-shadow: 0 2px 7px $box-shadow-menu-color;
  margin-bottom: 30px;
  .image {
    margin-right: 20px;
    flex: 0 0 242px;
    @include media-breakpoint-down(md) {
      flex: 0 0 155px;
    }
  }
  .content {
    h3 {
      font-size: $font-size;
      color: $text-primary;
      font-weight: normal;
    }
  }
}

@include media-breakpoint-down(md) {
  [class*="col-"] {
    &:last-child {
      .icon-card,
      .group-address {
        margin-bottom: 0;
      }
    }
    &:first-child {
      .simple-card {
        &:first-child {
          margin-bottom: 90px;
        }
      }
    }
  }
}

.square-box-link {
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  min-height: 80px;
  height: 100%;
  padding: 20px 40px 20px 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-image: url(../images/icon-arrow-right-link1.svg);
  &:hover , &:active , &:focus {
    background-image: url(../images/icon-arrow-right-link-red1.svg);
  }
}

.news-room-card {
  .news-room-image {
    height: 234px;
  }
}

