$carousel-control-prev-icon-bg: "../images/icon-control-prev-icon.svg";
$carousel-control-next-icon-bg: "../images/icon-control-next-icon.svg";
.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px;
    height: 60px;
    @include media-breakpoint-down(md) {
        margin-bottom: 0;
        width: 32px;
    }
}

.carousel-control-prev-icon {
    background-image: url($carousel-control-prev-icon-bg);
    @include media-breakpoint-down(md) {
        margin-right: 0px;
       
    }
}

.carousel-control-next-icon {
    background-image: url($carousel-control-next-icon-bg);
    @include media-breakpoint-down(md) {
        margin-left: 0px;
    }
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
    width:40px;
}

.carousel-control-prev {
    left: 80px;
    @media screen and (max-width: 1400px) {
        left: 30px;
    }
    @media screen and (max-width: 1300px) {
        left: 15px;
    }
}

.carousel-control-next {
    right: 80px;
    @media screen and (max-width: 1400px) {
        right: 30px;
    }
    @media screen and (max-width: 1300px) {
        right: 15px;
    }
}

.carousel-control-next {
    justify-content: flex-end;
}

.carousel-control-prev {
    justify-content: flex-start;
}

.carousel-indicators li {
    width: 15px;
    &.active {
        width: 30px;
    }
}

.carousel-home {
    @include media-breakpoint-down(md) {
        .carousel-inner {
            position: static;
        }

        .carousel-item {
            position: static;
        }
    }
}

.carousel-controler-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include media-breakpoint-down(md) {
        display: none;
    }
}