.search-form {
  height: 60px;
  position: relative;
  float: right;
  .btn-search {
    width: 60px;
    height: 60px;
    border: none;
    z-index: 1;
    background: url("../images/icon-search.svg") no-repeat center;
    &.dropdown-toggle {
      &:after {
        display: none;
      }
    }
  }
  &.open {
    .btn-search {
      background: $background-grey-color url("../images/icon-search-hover.png") no-repeat center;
    }
  }
  input {
    flex: 1 1 auto;
    width: 1%;
    display: inline-block;
    border-radius: 5px 0 0 5px;
  }
  .dropdown-style3 {
    li {
      @include flexInline();
      width: 100%;
    }
  }
  .btn {
    height: 44px;
    background: $primary-color;
    border-radius: 0 5px 5px 0;
    color: $white-color;
    display: flex;
    align-items: center;
    padding: 11px 34px;
    img {
      padding-right: 10px;
    }
    &:hover{
      background-color: darken($primary-color,10);
    }
  }
  .dropdown-menu.dropdown-style3 {
    padding: 30px;
    li {
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  form {
    position: initial;
    width: 100%;
    @include flexInlineImportant();
    right: 0;
    top: 70px;
  }
}

.input-button-group{
  display: inline-flex;
  width: 100%;
  input.form-control{
    border-radius:4px 0 0 4px;
    border-color: $primary-color;
    height:44px;
    margin-right:-1px;
    &:focus{
      box-shadow:0 0 0 0.2rem rgba(209, 49, 56, 0.2);
    }
  }
  .btn{
    border-radius:0 4px 4px 0;
  }
}

.list-custom-control{
  .custom-control{
    margin-bottom:15px;
    padding-left:40px;
    .custom-control-label{
      &:before{
        width:27px;
        height:27px;
        border:2px solid $text-primary;
        left: -40px;
        top: -3px;
      }
      &:after{
        top: 4px;
        left: -34px;
        width: 16px;
        height: 12px;
        background: no-repeat;
      }

    }
    .custom-control-input{
      width:27px;
      height:27px;
      top:-3px;
      &:not(:disabled):active{
        ~ .custom-control-label:before{
          background-color: $white;
          border-color: $text-primary;
        }
      }
      &:focus{
        ~.custom-control-label:before{
          box-shadow:none;
          border-color: $text-primary;
        }
      }
      &:checked{
        ~.custom-control-label{
          font-weight:500;
          &:before{
            background-color: $white;
            border-color: $primary-color;
          }
          &:after{
            background-image: url('../images/icon-check-red.svg');
          }
        }
      }
    }
  }
}

.form-group{
  label{
    font-weight:500;
  }
  .form-control{
    height:44px;
    color: $text-primary;
    &::placeholder {
      color: $grey-color;
    }
  }
}

@include media-breakpoint-down(md) {
  .search-option {
    select {
      height: 40px
    }
  }
}
