.paginations {
    ul {
        li {
            a {
                color: $text-primary;
                font-size: 18px;
                padding: 10px;
                &:hover {
                    color: #acabab;
                }
            }
            &.active {
                a {
                    color: #acabab;
                }
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: calc(50% - 5px);
                    width: 10px;
                    bottom: -10px;
                    z-index: 1;
                    height: 2px;
                    background-color: #acabab;
                }
            }
            &.disabled {
                opacity: 0.5;
            }
        }
    }
}
