$panel-line-header: #E0E0E0;
.panel {
    padding: 15px 20px;
    background-color: $background-body;
}

.panel-header {
    border-bottom: 2px solid $panel-line-header;
}

.panel-body {
    padding: 20px;
}